.root, .scroll-pane {
    -fx-background-color: #2b2b2b;
}

.margin {
    -fx-padding: 50px;
}

/* Control */
#control {
    -fx-background-color: #848484;
    -fx-min-width: 250px;
}

.control {
    -fx-padding: 20px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.control .h2 {
    -fx-padding: 5px 0;
    -fx-font: bold 0.4cm 'Arial';
    -fx-text-fill: #2b2b2b;
}

/* Progress Indicator */
.progress-indicator {
    -fx-max-height: 150px;
    -fx-max-width: 150px;
}

/* Scroll Pane */
.scroll-pane {
    -fx-padding: 0;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Scroll Bar */
.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar > .thumb {
    -fx-opacity: 0.5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow,
.scroll-pane .corner {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

/* Sequences */
#sequences {
    -fx-min-height: 100%;
}

#sequences .label {
    -fx-background-color: #e6b43a;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-alignment: center;
    -fx-font: 0.3cm 'Arial';
    -fx-text-fill: #2b2b2b;
}
