.root {
    -fx-background-color: #2b2b2b;
}

/* Scroll Pane */
.scroll-pane {
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Scroll Bar */
.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar > .thumb {
    -fx-opacity: 0.5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

/* Ruler */
#ruler {
    -fx-padding: 0 0 0 1.5cm;
}

.position {
    -fx-padding: 0.2cm;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 0 0 0 0.05cm;
    -fx-pref-width: 3cm;
    -fx-min-width: 3cm;
    -fx-max-width: 3cm;
    -fx-font: 0.4cm 'Arial';
    -fx-text-fill: #e6e6e6;
}

/* Sequence */
.sequence {
    -fx-border-radius: 1cm;
    -fx-pref-width: 2cm;
    -fx-background-color: #e6b43a;
}