.root {
    -fx-background-color: #2b2b2b;
}

/* Ruler */
#ruler {
    -fx-padding: 0 0 0 1.5cm;
}

#ruler .label {
    -fx-padding: 0.2cm;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 0 0 0 0.05cm;
    -fx-pref-width: 3cm;
    -fx-min-width: 3cm;
    -fx-max-width: 3cm;
    -fx-font: 0.4cm 'Arial';
    -fx-text-fill: #e6e6e6;
}